@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



:root{
    --color-primary:#070707;
    --color-secondary:#B6A680;   
    --color-black-light:#171A17;
    --color-dark-golden:#857038;
    --color-dark-brown:#0E0D09;
    --color-blue-metal:#00100F;
    --color-white:#F5F5F5;
    --color-gray-dark:#404040;
    --color-gray-light:#686868;
    --color-light-golden:#F5F5F5;
}
body{
    width: calc(100% - calc(100%- 100vw));
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
image{
    object-fit: cover;
    box-sizing: border-box;
}
li{
    
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    box-sizing: border-box;
}
/* Components */
.section{
    position: relative;
    width: 100%;
}
.img{
    align-self: center;
}
.btn{
    text-align: center;
    padding: .5rem 1rem;
    font-weight: 700;
    letter-spacing: .05em;    
    border-radius: 3px;
    text-decoration: none;
    
    font-weight: 400;
    margin-top: 15px;
}
.btn__primary{
    color: var(--color-white);
    background-color: var(--color-secondary);
}
.btn__secondary{
    background-color: var(--color-blue-metal);
    color: var(--color-white);
}
.content__cards{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.card{
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}
.form{
    display: flex;
    flex-direction: column;
}

        /* Start Animation componentes */
            .btn:hover{
                transform: translateY(-5px);
                transition: transform .4s;
            }
        /* End animation components */
   
/* End Components */

.navigation{
    position: fixed;
    z-index: 40;
    top: 0;
    display: flex;
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: .2rem 1rem; */
}
.navigation.active{
    background-color: var(--color-white);
    opacity: .9;
}
.navigation.active .btn-navigation .bar{
    background-color: var(--color-primary);
}
.navigation.active .btn-navigation.active .bar{
    background-color: var(--color-white);
}
.navigation.active .logo span{
    color: var(--color-primary);
}
.logo{
    display: flex;
    width: 20%;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    padding: .8rem 1rem;
}

.svg__logo{
    width: 25%;
    fill: var(--color-secondary) ;
}

.logo span{
    font-family: 'DM Serif Display', serif;
    letter-spacing: .2em;
    font-weight: 400;
   text-transform: uppercase;
    color: var(--color-white);
}
.btn-navigation{
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 40px;
    justify-content: space-evenly;    
    z-index: 30;
    padding: .8rem 1rem;
}
.btn-navigation.active .bar:nth-child(1){
    position: relative;
    top: 7px;
    transform: rotate(45deg);
    transition: all .5s;
}
.btn-navigation.active .bar:nth-child(2){
    opacity: 0;
    transition: opacity .5s;
}
.btn-navigation.active .bar:nth-child(3){
    position: relative;
    bottom:  15px;
    transform: rotate(-45deg);
    transition: all .5s;
}
.bar{
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: var(--color-white);
}
.navigation__list{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-primary);
}
.navigation__item{
    height: 10%;
}
.navigation__link{
    width: 100%;
    height: 100%;
    color:var(--color-white)
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__frontpage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-dark-brown) 50%, var(--color-dark-brown) 100%), 
    linear-gradient(to right, var(--color-dark-brown) 0%, var(--color-dark-brown) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    background-size: 100% 61%;
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    row-gap: .6rem;
    /* filter: sepia(.2); */
}
.content{

    padding: 0 1rem;
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
/* Content Front Page */
.content__frontpage{
    max-width: 100%;
    
    color: var(--color-white);
    
}

.content__frontpage .h1{
    letter-spacing: .05em;
    font-size: 3.3em;
    font-weight: 700;
    font-weight: bold;
    
    font-family: 'DM Serif Display', serif;
    line-height: 1.2;
}
.content__frontpage .span{
    font-weight: 400;
    line-height: 1.6;
}
.content__frontpage .btn{
    
}
.img__frontpage{
    width: 75%;
}
/* End Front Page */

/* Content Your Hair */
.section__yourhair{
    background-color: var(--color-light-golden);
}
.content__yourhair{
    padding: 1rem 1.5rem;
}
.section__yourhair{
    display: flex;   
    max-width: 100%;
    flex-direction: column;
    color: var(--color-white);
    row-gap: 10px;
    flex-direction: column-reverse;

}
.content__yourhair .h2{
    top: -2.8rem;
    position: relative;
    letter-spacing: .05em;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0 1rem;
    color: var(--color-blue-metal);
    font-family: 'DM Serif Display', serif;
    line-height: 1.2;
    text-align: center;
    margin-bottom: -1.5rem;
}
.content__yourhair .h2 p:nth-of-type(1){
   text-align: left;
}
.img__yourhair{
    width: 90%;
    padding-top: 2rem;
}
.content__yourhair .span{
    color: var(--color-primary);
    padding: 10px 1rem;
    font-weight: 400;
    line-height: 1.4;
    font-size: 15px;
}
.content__yourhair .span__light{
    position: relative;
    color: var(--color-gray-light);
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
}

  .content__yourhair .span__light::before{
      content: "\201C";
        position: absolute;
        left: -3px;
        top: -10px;
        color: var(--color-dark-light);
        font-weight: 700;
        font-size: 3em;
        line-height: 1.2;
        font-family: 'DM Serif Display', serif;
        letter-spacing: .05em;
        width: 1.5em;
        height: 1.5em;
  }
    .img__firma{
        width: 60%;
    }
    .firm__author{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .author__text{
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }
    .firm__author h3{
        color: var(--color-primary);
        font-weight: 400;
        font-size: 1em;
    }
    .firm__author p{
        color: var(--color-primary);
        font-weight: 400;
        color: var(--color-gray-light);
        font-size: 1em;
    }
        /* End Your Hair */

        /* Content Hair subsidiary */
        .section__subsidiary{
            width: 100%;
        }
        .content__subsidiary{
            display: grid;
            max-width: 100vw;
            width: 100%;
            grid-template-columns: repeat(auto-fit,minmax( 110px, 1fr));
            grid-auto-rows: 150px;
            grid-auto-columns: 90px;
            grid-gap: 15px;
            grid-auto-flow: row dense;
            text-align: center;
            align-items: center;
            justify-items: center;
            
        }
        .subsidiary{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 90%;
            background-size: cover;
            background-repeat: no-repeat;  
            overflow: hidden;
        }
        .subsidiary span{
            position: absolute;
            z-index: 10;
            color: var(--color-primary);
        }
        .subsidiary::before{
            content: "";
            position: absolute;
            z-index: 10;
            display: block;
            width: 100%;
            height: 100%;  
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0;
        }
        .subsidiary:nth-of-type(1)::before{                     
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643675791/portafolio/BeautySalon/filiales/filial1.min_cw6umg.jpg);
        }
        .subsidiary:nth-of-type(2)::before{                     
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643675896/portafolio/BeautySalon/filiales/filial2.min_yx2sns.jpg);
        }
        .subsidiary:nth-of-type(3)::before{                     
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643675985/portafolio/BeautySalon/filiales/filial3.min_skf5vk.jpg);
        }
        .subsidiary:nth-of-type(4)::before{                     
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643676076/portafolio/BeautySalon/filiales/filial4.min_rj1vwn.jpg);
        }
        .subsidiary:nth-of-type(5)::before{                     
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643676176/portafolio/BeautySalon/filiales/filial5.min_tfahb6.jpg);
        }
        .subsidiary:nth-of-type(6)::before{                     
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643676259/portafolio/BeautySalon/filiales/filial6.min_kxwc23.jpg);
        }
       
        .subsidiary:hover::before{
            opacity: 1;
        }
        .content__video{
            overflow: hidden;
            position: relative;
        }
        .video{
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 20%;            
        }
        .content__video::before{
                content: "";
                position: absolute;
                z-index: 10;
                display: flex;        
                top: 0px;    
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .5);
        }
        .runVideo{
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 20;
            
            width: 30px;
            height: 30px;          
            padding: .5rem;
            margin: 0 auto;
            border-radius: 50%;
            border: 1px solid var(--color-secondary);   
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643678491/portafolio/BeautySalon/icons/play_nlj02k.svg);
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;   
            opacity: 0;         
        }
        
        .runVideo.active{
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643678491/portafolio/BeautySalon/icons/pausa_jjwhnd.svg);
        }
        .content__video--text{
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 10;
            text-align: center;
            justify-content: space-evenly;
            align-items: center;
            top: 0;
            color: var(--color-white);
        }
        .content__video--text:hover .runVideo{
            opacity: 1;
        }
        .content__video--text h3{
            font-weight: 500;
            font-size: .9em;
        }
        .content__video--text span{
            width: 60%;
            font-family: 'DM Serif Display', serif;
            font-size: 1.4em;  
        }
        /* End Hair Subsidiary */


        /* Start section  Treatment */
        .content__treatment{
            color: var(--color-primary);
            padding: 2rem 2.4rem;
        }
        .content__treatment .h2{
            letter-spacing: .05em;
            font-size: 2em;
            font-weight: 400;
            padding: 0;
            color: var(--color-blue-metal);
            font-family: 'DM Serif Display', serif;
            line-height: 1.2;
        }
        .content__treatment .span{
            font-weight: 300;
            line-height: 1.5em;
        }

        .card__treatment p{
            font-family: 'DM Serif Display', serif;
            color: var(--color-blue-metal);
            font-weight: 300;
            font-size: 1.5em;
            letter-spacing: .2em;
        }
        .card__treatment h3{
            color: var(--color-blue-metal);
            font-weight: 500;
        }
        .card__treatment span{
            color: var(--color-black-light);
            line-height: 1.5em;
        }
        .btn__treatment{
            
        }
        .content__image{
            position: relative;
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643676767/portafolio/BeautySalon/treatment/image_treatment.min_aeud5q.jpg);
            background-size: cover;
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            flex-direction: column;
            display: flex;
            text-align: left;
            align-items: flex-start;
            justify-content: center;
            background-repeat: no-repeat;
            background-position: 70px 0%;
            height: 500px;
        }
        .img__treatment{
            box-sizing: inherit;
            display: block;
            width:  90%;
            height: 90%;
        }
        /* End section treatment */

        /* Start Section Out Salon */
        .section__outsalon{
            background-color: var(--color-primary);
        }
        .content__outsalon{
            color: var(--color-white);
            padding: 2rem 2.4rem;
        }
        .content__outsalon .h2{
            position: relative;
            letter-spacing: .05em;
            font-size: 3em;
            font-weight: bold;
            font-family: 'DM Serif Display', serif;
            line-height: 1.2;

        }
        .content__grid{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax( 150px, 1fr));
            grid-auto-rows: 180px;
            grid-auto-columns: 90px;
            grid-gap: 15px;
            grid-auto-flow: row dense;
           padding: 1rem;
        }
        .card__grid{
            overflow: hidden;
            position: relative;
        }
        .card__grid p{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 1rem .2rem;
            color: var(--color-white);
            background-color: rgba(0, 0, 0, .8);
            opacity: 0;
        }
        .card__grid:hover p{
            opacity: 1;
        }
        .card__grid:last-child{
            grid-column: span 2;
            grid-row: span 2;
        }
        .img__grid{
            box-sizing: border-box;
            object-fit: cover;
           width:  100%;
           height: 100%;
        }     
        /* End section Out Salon */
        
        
        /* Start Section model */
        .content__model{
            
            padding: 2rem 1rem;
            row-gap: 15px;
        }
        .img__model{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .content__model .span__light{
            position: relative;
            padding: 1.5rem 0;
            color: var(--color-dark-light);
            font-style: italic;
            font-weight: 600;
            line-height: 1.6;
            font-size: 16px;
            font-family: 'DM Serif Display', serif;
        }
        .content__model .span__light::before{
            content: "\201C";
              position: absolute;
              left: -3px;
              top: -5px;
              color: var(--color-blue-metal);
              font-weight: 700;
              font-size: 3em;
              line-height: 1.2;
              font-family: 'DM Serif Display', serif;
              letter-spacing: .05em;
              width: 1.5em;
              height: 1.5em;
        }
        .model{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        /* End Section Model */

        /* Start Section Testimony */
        .img__testimony{
            align-self: flex-start;
            width:80%;            
        }
        .testomial{
            display: flex;
            flex-direction: column;
            padding: 2rem 0rem 6rem 0;
            row-gap: 2.5rem;
            max-width: 100%;
        }
        .content__testimony{
            display: flex;
            position: relative;
            flex-direction: column;
            row-gap: 12px;
        }
        .content__testimony .span{
             position: relative;
             font-style: italic;
            padding: 1.5rem .5rem 0 0;
            color: var(--color-gray-light);
            font-weight: 500;
            line-height: 1.6;
            font-size: 16px;
        }

        .content__testimony .span__light::before{
            content: "\201C";
              position: absolute;
              left: -3px;
              top: -5px;
              color: var(--color-blue-metal);
              font-weight: 700;
              font-size: 3em;
              line-height: 1.2;
              font-family: 'DM Serif Display', serif;
              letter-spacing: .05em;
              width: 1.5em;
              height: 1.5em;
        }
        .content__testimony .firm__author .author__text h3{
            font-weight: 600;
            font-size: .9em;
            color: var(--color-gray-dark);
        }
        /* Ends Section Testimony */

        
        /* Start Section Newsletter */
        .content__newsletter{
            position: relative;
            background-image: url(https://res.cloudinary.com/sunqupacha/image/upload/v1643678197/portafolio/BeautySalon/newsletter/image1.min_tp8ekl.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content__newsletter::before{
            content: '';
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .9);
        }
        .content__newsletter{
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
            row-gap: 1rem;
            max-width: 100%;
            color: var(--color-white);
        }
        .content__newsletter > *{
            z-index: 20;
        }
        .content__newsletter .h2{
            font-family: 'DM Serif Display', serif;
            letter-spacing: .1em;
            font-size: 2.4em;
        }
        .content__newsletter .span{
            font-weight: 400;
            font-size: .9em;
            text-align: center;
        }
        .content__newsletter .form{
            padding: 2rem 0;
        }
        .form__input{
            height: 30px;
            padding: 0 10px;
        }
        .img__newsletter{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 20;
            margin-top: -30px;
        }
        .content__newsletter--img{
            background-image: linear-gradient(55deg,#917854,#b69d78);
        }
        /* End Section Newsletter */


        /* Start Section Footer */

        .footer{
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
            row-gap: 1rem;
            max-width: 100%;
        }
        .section__footer{
            background-color: var(--color-dark-brown);
        }
        .content__footer{
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
        }
        .footer__icons{
            display: flex;
            flex-direction: column;
            color: var(--color-white);
            row-gap: 1rem;
            text-align: center;
            border-bottom: 0.1px solid #493822;
            
            padding: 1.5rem 0 ;
        }
      
        .block__icons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1.5rem;
        }
        .block__icons--text{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
        .list__icons{
            display: flex;
            flex-direction: row;
            width: 80%;
            justify-content: space-evenly;
        }
        .li__icons{
            width: 1.5rem;
            height: 1.5rem;
        }
        .link__icons svg path{
            fill: var(--color-white);
        }
        .span__footer{
            
        }
        .svg__logo--footer{
            width: 60%;
        }


        .block__icons--text{
            display: flex;
            flex-direction: column;
        }
        .block__icons--text .span__footer{
            font-weight: 400;
            font-size: .8em;
            line-height: 1.5em;
        }
        .footer__link{
            display: flex;
            color: var(--color-white);
            text-align: center;
            flex-direction: column;
            row-gap: 1rem;
            padding: 1.5rem 0 ;
        }
        .list__links{
            display: flex;
            flex-direction: column;
            row-gap: .5rem;
        }
        .list__links .h4__link{
            font-family: 'DM Serif Display', serif;
            color: var(--color-secondary);
            font-size: 1.5em;
            letter-spacing: .1em;
        }
        .link{
           
        }
        .link a{
            font-weight: 400;
            color: #ffffffc4;
        }
        .link:hover{
            color: var(--color-secondary);
        }
        .copyright{
            color: var(--color-light-golden);
        }
        .copyright p{
            text-align: center;
        }
        .copyright p a{
            font-weight: 600;
            color: var(--color-white);
        }

        /* End section Footer */


        @media (min-width: 768px) {  
            .logo{
                width: 15%;
            }
            .btn-navigation{
                cursor: pointer;
                width: 4%;
                padding-right: 2rem;
            }
                .content__frontpage{
                    position: absolute;
                    top: 0%;
                    width: 90%;
                    height: 70%;
                    justify-content: center;
                    padding-right: 10%;
                    padding: 0  2rem 10%; 
                }
                .content__frontpage .h1{
                    font-size: 8em;
                }
                .content__frontpage .span{
                    width: 90%;
                }
                .img__frontpage{
                    width: 65%;
                }
            .btn__primary{
                width: fit-content;
            }

            .content__yourhair .h2 p:nth-of-type(1){
                padding-left: 1rem;
            }
            .content__yourhair .h2 p:nth-of-type(2){
                text-align: left;
                padding-left: 2rem;
            }
            .content__yourhair .h2{
                font-size: 2.5em;
            }
            .content__yourhair{
                width: 80%;
            }
            .content__yourhair .span__light{
                font-size: 1.1em;
            }
            .content__yourhair .span__light::before {
                top: -15px;
            }



            /*Start Section Treatment */
            .section__treatment{
                display: flex;
                flex-direction: column;
                padding: 8rem 0;
                align-items: center;
            }
            .content__treatment{
                row-gap: 3rem;
            }

            .content__subsidiary {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
            .content__cards--treatment{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 1rem;
            }
            .btn__secondary{
                width: 45%;
            }

            .content__treatment .h2{
                font-size: 3.5em;
            }
            .content__image{
                align-self: center;
                width: 90%;
                height: 650px;
            }
            .img__treatment{
                align-self: flex-start;
                width:60%
            }
            /* End Section Treatment */

            /* Start Section Video */
            
            .content__video--text{
                justify-content: center;
                row-gap: 2rem;
            }
            .content__video--text h3{
                font-size: 1.2em;
            }
            .content__video--text span{
                font-size: 3em;
            }
            .runVideo{
                height: 70px;
                width: 70px;
            }
            /* End Section Video */

            /* Start Section Our Salon */
            .content__grid{
                grid-template-columns: repeat(12, 1fr) ;                
            }
            .card__grid{
                grid-column: span 3;
            }
            .card__grid:last-child{
                grid-row: span 1;
            }
            .card__grid:nth-last-child(-n+3){
                grid-column: span 4;
            }
            /* End Section Our Salon */

            /* Start Section Model */
            .section__model{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .content__model{
                width: 90%;
                flex-direction: row;
                column-gap: 2rem;
            }
            .img__model{
                width: 50%;
            }
            .content__model .span__light{
                font-size: 1.5em;
                font-weight: 500;
            }
            .content__model .span__light::before{
                top: -15px;
            }

            .content__testimony{
                flex-direction: row;
                column-gap: 1.5rem;
            }
            .content__testimony .span{
                font-size: 1.2em;
                font-weight: 500;
            }
            .img__testimony{
                object-fit: cover;
                width: 25%;
            }
            .firm__author{
                 row-gap: 1rem;
            }
            /* End Section Model */

            /* Start Section Newsletter */
            .content__newsletter .h2{
                font-size: 2.8em;
            }
            .content__newsletter{
               padding: 2rem 8rem;
                flex-direction: column;
                row-gap: .7rem;
            }
            .content__newsletter .span{
                text-align: initial;
            }
            .img__newsletter{
                width: 60%;
            }
            /* End Section Newsletter */

            /* Section Footer */
            .block__icons{
                row-gap: 1.5rem;
            }
            .block__icons .logo{
                padding: 0;
            }
            .block__icons--text{
                align-items: center;
            }
            .block__icons--text .btn{
                padding: .5rem 6rem;
                border-radius: 0;
            }
            .block__icons--text .span__footer{
                width: 80%;
            }
            /* End Section Footer */

            .btn{
                border-radius: 0;
            }

        }

        @media (min-width: 1024px) { 
            .svg__logo {
                width: 10%;
            }
            .btn-navigation{
                width: 3%;
            }
            .section__frontpage {
                flex-direction: row;
                align-items: center;
            }
            .content__frontpage{
                height: 100%;
                position: relative;
                width: 50%;
                right: 40%;
                z-index: 30;
            }
            .img__frontpage{
                width: 50%;
                position: absolute;
                bottom: 0;
            }

            /* Section Your Hair */
            .section__yourhair {
                flex-direction: row-reverse;
                align-items: center;
            }
            .img__yourhair{
                width: 40%;
            }
            .content__yourhair{
                height: 100%;
               justify-content: center;
            }
            .img__firma{
                width: 20%;
            }
            .content__yourhair .h2{
                left: -12%;
                font-size: 3.2em;
            }
            .content__yourhair .h2 p:nth-of-type(2){
                padding-left: 3rem;
            }
            .content__yourhair .span{
                font-size: 1.1em;
                font-weight: 300;
            }
            .content__yourhair .span__light{
                font-size: 1.3em;
                font-weight: 500;
            }
            .firm__author{
                flex-direction: row;
            }
            /* End Section You Hair */

            /* Start Section treatment  */
            .section__treatment {
                flex-direction: row;
            }
            .content__treatment{
                width: 70%;
            }
            .content__cards--treatment{
                grid-template-columns: repeat(2, 1fr);
            }
            .content__image{
                background-size: 80% 90%;
            }
            .card__treatment span{
                font-weight: 400;
                font-size: .9em;
            }
            .outsalon__text{
                width: 70%;
            }
            .content__outsalon{
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }
            .btn__primary--outsalon{
                align-content: flex-end;
                padding: .7rem 3.5rem;
                height: max-content;
            }

            /* End Sectionn treatment */


            /* Start Section Our Salon */
            .content__outsalon .h2{
                font-size: 4em;
            }
        
            /* End Section our Salon */


            /* Start Section Model */
            .content__model .span__light{
                font-size: 2em;
            }
            .model{
                width: 40%;
            }
            .img__model{
                width: 40%;
            }
            .testomial{
                flex-direction: row;
                width: 95%;
            }
            .firm__author{
                flex-direction: column;
            }
            .content__testimony .span{
                font-weight: 400;
            }
            .content__testimony .firm__author .author__text h3{
                font-weight: 500;
            }
            .author__text p{
                font-size: .8em;
            }
            /* End Section model */

            /* Start Section Newsletter */
            .section__newsletter{
                display: flex;
                flex-direction: row;
                height: 400px;
            }
            .content__newsletter{
                width: 50%;
            }
            .content__newsletter--img{
                width: 50%;
            }
            .img__newsletter{
                bottom: 0;
                width: 100%;
                height: 100%;
                margin-top: initial;
                margin-left: -90%;
                object-fit: contain;
            }
            /* End Section Newsletter */

            /*Start  Section footer */
            .content__footer{
                padding: 2rem 4rem;
                row-gap: 1rem;
            }
            .footer__icons{
                flex-direction: row;
            }
            .block__icons{
                width: 50%;
                align-items: flex-start;
            }
            .block__icons--text{
                width: 50%;
                text-align: left;
                align-items: flex-start;
            }
            .list__icons{
                justify-content: initial;
                column-gap: 1.5rem;
            }
            .block__icons .svg__logo{
                width: 35%;
            }
            
            .footer__link{
                flex-direction: row;
                justify-content: flex-end;
                column-gap: 4.5rem;
            }

            .list__links{
                text-align: left;
                row-gap: 1.1rem;
            }
            .link{
                font-size: .8em;
                font-weight: 500;
            }

            .copyright{
                display: flex;
                justify-content: space-between;
            }
            /* End Section Footer */
        }

        @media (min-width: 1424px) {
            .btn-navigation{
                width: 2%;
            }
            .img__frontpage{
                width: 40%;
                left: 40%;
            } 
            .content__frontpage{
                justify-content: end;
            }
            .section__treatment, .section__yourhair   {
                width: 80%;
            }
            .section__yourhair {
                padding-top: 5rem;
            }
            .img__yourhair{
                width: 50%;
            }
           
        }
.none{
    display: none;
}

